<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "mx-auto max-w-sm w-full" }) do |f| %>
  <h2 class="text-3xl font-semibold mb-12"><%= t(".title", resource: resource.model_name.human) %></h2>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-6">
    <%= f.label(:email, class: "mb-2 inline-block") %><br>
    <%= f.email_field(:email, autofocus: true, autocomplete: "email", class: "Input Input--default Input--md block w-full") %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></div>
  <% end %>

  <div class="mb-6">
    <%= f.label(:password, class: "mb-2 inline-block") %><br>
    <i>(<%= t(".leave_blank_if_you_don_t_want_to_change_it") %>)</i><br>
    <% if @minimum_password_length %>
      <em><%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %></em><br>
    <% end %>
    <%= f.password_field(:password, autocomplete: "new-password", placeholder: true, class: "Input Input--default Input--md block w-full") %>
  </div>

  <div class="mb-6">
    <%= f.label(:password_confirmation, class: "mb-2 inline-block") %><br>
    <%= f.password_field(:password_confirmation, autocomplete: "new-password", placeholder: true, class: "Input Input--default Input--md block w-full") %>
  </div>

  <div class="mb-6">
    <%= f.label(:current_password, class: "mb-2 inline-block") %> <i>(<%= t(".we_need_your_current_password_to_confirm_your_changes") %>)</i><br>
    <%= f.password_field(:current_password, autocomplete: "current-password", placeholder: true, class: "Input Input--default Input--md block w-full") %>
  </div>

  <div class="actions">
    <%= f.submit(t(".update"), class: "Button Button--md Button--primary w-full") %>
  </div>

  <div class="mt-3">
    <small class="text-sm block text-right">
      <p><%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %></p>

      <%= link_to t("devise.shared.links.back"), :back, class: "Link inline-block" %>
    </small>
  </div>
<% end %>
