<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mx-auto max-w-sm w-full" }) do |f| %>
  <h2 class="text-3xl font-semibold mb-12"><%= t(".sign_in") %></h2>
  <div class="mb-6">
    <%= f.label(:email, class: "mb-2 inline-block") %>
    <%= f.email_field(:email, autofocus: true, autocomplete: "email", placeholder: true, class: "Input Input--default Input--md block w-full") %>
  </div>
  <div class="mb-6">
    <%= f.label(:password, class: "mb-2 inline-block") %>
    <%= f.password_field(:password, autocomplete: "current-password", placeholder: true, class: "Input Input--default Input--md block w-full") %>
    <%= render "shared/flash_messages", container_class: "my-6" %>
    <small class="text-sm block text-right mt-3">
      <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: "Link inline-block" %>
    </small>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="flex items-center mb-3">
      <%= f.check_box(:remember_me, class: "form-check-input mr-2 h-4 w-4") %>
      <%= f.label(:remember_me, class: "form-check-label") %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit(t(".sign_in"), class: "Button Button--md Button--primary w-full") %>
  </div>

  <% if devise_mapping.registerable? %>
    <div class="mt-3">
      <small class="text-sm block text-right">
        <%= t(".dont_have_an_account") %>
        <%= link_to(t(".sign_up"), new_registration_path(resource_name), class: "Link inline-block") %>
      </small>
    </div>
  <% end %>
<% end %>
