<div class="w-full h-full md:flex">
  <div class="w-full h-full p-6 md:w-1/2">
    <%= image_pack_tag("muffi-logo.svg", class: "absolute") %>

    <div class="flex items-center justify-center h-full">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mx-auto max-w-sm w-full" }) do |f| %>
        <h2 class="text-3xl font-semibold mb-12"><%= t(".sign_in") %></h2>

        <div class="mb-6">
          <%= f.label(:email, class: "mb-2 inline-block") %>
          <%= f.email_field(:email, autofocus: true, autocomplete: "email", placeholder: true, class: "block w-full border-2 border-neutral-300 rounded-md px-2 py-2 md:px-3 md:py-3 focus:outline-none focus:ring-primary-300 focus:ring-1 focus:border-primary-300") %>
        </div>

        <div class="mb-6">
          <%= f.label(:password, class: "mb-2 inline-block") %>
          <%= f.password_field(:password, autocomplete: "current-password", placeholder: true, class: "block w-full border-2 border-neutral-300 rounded-md px-2 py-2 md:px-3 md:py-3 focus:outline-none focus:ring-primary-300 focus:ring-1 focus:border-primary-300") %>
          <small class="text-sm block text-right mt-3">
            <%= link_to t(".forgot_your_password"), new_password_path(resource_name) %>
          </small>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex items-center mb-3">
            <%= f.check_box(:remember_me, class: "form-check-input mr-2 h-4 w-4") %>
            <%= f.label(:remember_me, class: "form-check-label") %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit(t(".sign_in"), class: "w-full px-4 py-3 border border-transparent text-base rounded-md text-primary-contrast bg-primary hover:bg-primary-700 md:text-lg md:px-8") %>
        </div>

        <% if devise_mapping.registerable? %>
          <div class="mt-3">
            <small class="text-sm block text-right">
              <%= t(".dont_have_an_account") %>
              <%= link_to(t(".sign_up"), new_registration_path(resource_name)) %>.
            </small>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="hidden md:w-1/2 md:block md:h-full PlaceholderImage">
  </div>
</div>
