<div class="row vh-100">
  <div class="col-12 col-md-6 p-4">
    <%= image_pack_tag("media/images/muffi-logo.svg", class: "position-absolute") %>

    <div class="d-flex justify-content-center align-items-center h-100">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mx-auto" }) do |f| %>
    <h2 class="mb-5"><%= t(".sign_in") %></h2>

      <div class="form-group">
        <%= f.label(:email) %><br>
        <%= f.email_field(:email, autofocus: true, autocomplete: "email", placeholder: true, class: "form-control") %>
      </div>

      <div class="form-group mt-4">
        <div class="d-flex justify-content-between align-items-center">
          <%= f.label(:password) %>
          <small class="mb-2"><%= link_to t(".forgot_your_password"), new_password_path(resource_name) %></small>
        </div>
        <%= f.password_field(:password, autocomplete: "current-password", placeholder: true, class: "form-control") %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check mt-4">
          <%= f.check_box(:remember_me, class: "form-check-input") %>
          <%= f.label(:remember_me, class: "form-check-label") %>
        </div>
      <% end %>

      <div class="actions mt-3">
        <%= f.submit(t(".sign_in"), class: "btn btn-primary w-100 py-3") %>
      </div>

      <div class="pt-2">
        <small class="text-muted">
          <%= t(".dont_have_an_account") %>
          <%= link_to(t(".sign_up"), new_registration_path(resource_name)) %>.
        </small>
      </div>
    <% end %>
  </div>
  </div>

  <div class="col-6 p-0 d-md-block d-none placeholder-image">
  </div>
</div>
