<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <img src="<%= asset_path('') %>" class="mb-4">
  <h3>Please log in</h3>
  <div>
    <%= f.label :email, class: 'visually-hidden' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'user@PROJECT_DOMAIN', class: 'form-control', tabindex: 1 %>
  </div>

  <div>
    <%= f.label :password , class: 'visually-hidden'%>
    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'password', tabindex: 2 %>
  </div>

  <div>
    <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block', tabindex: 3 %>
  </div>
  <br/>
  <%= render "devise/shared/error_messages" %>
<% end %>
