<%= form_for [:admin, @user] do |f| %>
  <div class="mb-6">
    <%= f.label(:email, class: "inline-block mb-2") %>
    <%= f.email_field(:email, placeholder: true, class: "Input Input--neutral Input--md block w-full") %>
  </div>
  <div class="mb-6">
    <%= f.label(:name, class: "inline-block mb-2") %>
    <%= f.text_field(:name, placeholder: true, class: "Input Input--neutral Input--md block w-full") %>
  </div>
  <div class="mb-6">
    <%= f.label(:password, class: "inline-block mb-2") %>
    <%= f.password_field(:password, autocomplete: "new-password", placeholder: true, class: "Input Input--neutral Input--md block w-full") %>
  </div>
  <div class="mb-12">
    <%= f.label(:password_confirmation, class: "inline-block mb-2") %>
    <%= f.password_field(:password_confirmation, autocomplete: "new-password", placeholder: true, class: "Input Input--neutral Input--md block w-full") %>
  </div>
  <div class="mb-6">
    <%= react_component :Button, className: "w-full mb-2", size: "lg", variant: :primary, type: :submit, children: t("admin.shared.save") %>
    <a role="button" href="<%= admin_users_path %>" class="Button Button--lg Button--neutral inline-block text-center w-full"><%= t("admin.shared.cancel") %></a>
  </div>
<% end %>
